html {
   background-color: #E6BE8A;
   color: #990012;

}

img {
	position: relative;
}

#login {
	float:right;
	/*color: green;*/
}

#login div.email {
	float: right;
}

#login div.password input:last-child {
	display: block;
	margin-left: 175px;
}

.about {
	margin-top: 200px;
	position: relative;
	font-size: 150%;
}

#register {
	position: relative;
	margin-left: 500px;
	margin-top: -200px;
	font-size: 150%;
}

#register ul li {
	list-style-type: none;
}

.page {
	display: block;
	margin-left: 200px;
	margin-right: 200px;
}