html {
   background-color: #E6BE8A;
   color: #990012;
   
}

/*****************
CSS FOR index.html
******************/

#logo {
	position: relative;
}

#login {
	float:right;
	/*color: green;*/
}

#login div.logEmail {
	float: right;
}

#login div.logPassword input:last-child {
	display: block;
	margin-left: 175px;
}

.about {
	margin-top: 200px;
	position: relative;
	font-size: 150%;
}

#register {
	position: relative;
	margin-left: 500px;
	margin-top: -200px;
	font-size: 150%;
}

#register ul li {
	list-style-type: none;
}

.page {
	display: block;
	margin-left: 200px;
	margin-right: 200px;
}

/*****************
CSS FOR order.html
******************/

fieldset{
    overflow: hidden;
    float: left;
}

#order fieldset {
	width: 500px;
	height: 200px;
	float: right;
	text-align: center;
	top: 100px;
}

.submitOrder {
	position: relative;
	text-align: center;
	top: 70%;
}

#fav fieldset {
	float: left;
	width: 150px;
	height: 500px;
	margin-top: 100px;
}

#flavor {
	position: relative;
	top: -400px;
	left: 200px;
	clear: both;
	/*width: 200px;*/
}

#flavor div {
	width: 1100px;
	width: 90;
	/*margin-right: -700px;*/
	/*width: 1510px;*/
	overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#flavor li {
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 5px;
	margin-left: 5px;
	
}

.circle {
    	width: 50px;
    	height: 50px;
    	border-radius: 50%;
}

#filling fieldset {
	position: relative;
	top: -350px;
	left: 200px;
	width: 85%;
	/*display: inline;*/
	white-space: nowrap;
}

#filling ul {
	/*display: inline;*/
	overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}


#filling li {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 20px;
	margin-left: 20px;
}

#icing {
	position: relative;
	top: -300px;
	left: 200px;
	white-space:nowrap;
}

#icing div {
	width: 85%;
	/*width: 1510px;*/
	overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#topping fieldset {
	position: relative;
	width: 85%;
	top: -250px;
	left: 200px;
	/*right: 5px;*/
}

#topping li  {
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

.toppingClear { 
	position: relative;
	margin-top: 100px;
	clear:both;
	text-align: center;
	/*top: 70%;*/
}

li {
	display: inline;
    white-space:nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.reset {
	position: relative;
}

.update {
	position: relative;
	/*left: 130px;*/
	/*top: -200px;*/
}

.selected {
	background-color: orange;
}

