html {
   background-color: #E6BE8A;
   color: #990012;

}

#logo {
	position: relative;
}

#login {
	float:right;
	/*color: green;*/
}

#login div.email {
	float: right;
}

#login div.password input:last-child {
	display: block;
	margin-left: 175px;
}

.about {
	margin-top: 200px;
	position: relative;
	font-size: 150%;
}

#register {
	position: relative;
	margin-left: 500px;
	margin-top: -200px;
	font-size: 150%;
}

#register ul li {
	list-style-type: none;
}

.page {
	display: block;
	margin-left: 200px;
	margin-right: 200px;
}

.circle {
    	width: 50px;
    	height: 50px;
    	border-radius: 50%;
}

ul{
	list-style-type: none;
}

li{
	
}

<<<<<<< HEAD


=======
#flavor div {
	display: inline;
}

#flavor div ul li {
	list-style-type: none;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 20px;
	margin-left: 20px;
>>>>>>> 7e2d50f9347366362fd45d01c31192122761172f
}